<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
</head>

<body>
  <script src="javascripts/socket.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>

  <script>
    $(function () {
      var socket = io.connect('http://localhost:3000');
      socket.on('NovoItemPraca1', function (data) {
        console.log(data);
      });
    })

    async function obter_itens_pendentes(id_praca) {
      try {
        let itensPendentes = await execRequisicaoHttp('GET', '/praca/obter_itens_pendentes', { id_praca: id_praca });
        console.log(itensPendentes);
      } catch (e) {
        e = null;
      }
    }

    async function driverPost_pedido_itens() {
      try {
        await execRequisicaoHttp('POST', '/pedidos/post_pedido_itens', JSON.stringify({
          id_pedido: 23,
          dono_pedido: 1,
          tipo_dono: "mesa",
          itens_pedido: [{
            id_produto: 1,
            id_responsavel: 1,
            data_inicio_entrega: "2019-11-15 15:17:17",
            observacao: "Carne mau passada",
            id_praca: 1
          }]
        }));
      } catch (e) {
        e = null;
      }
    }

    async function driverget_produtos() {
      try {
        let produtos = await execRequisicaoHttp('GET', '/produto/get_produtos', { /*where: { id_praca: 1, nome: "Carne de sol" }, */select: 'p.id_produto, nome, tempo_medio_preparo, id_praca, valor' });
        console.log(produtos);
      } catch (e) {
        e = null;
      }
    }

    async function driverCadastroProduto() {
      try {
        await execRequisicaoHttpCtType('POST', '/produto/post_produto', {
          nome: 'Carne',
          id_praca: 1,
          preco: 11
        });
      } catch (e) {
        console.log(e);
      }
    }

    function execRequisicaoHttp(type, url, filtro) {
      return $.ajax({
        type: type,
        url: url,
        data: filtro,
        contentType: type === 'GET' ? 'json' : 'application/json'
      });
    }

    function execRequisicaoHttpCtType(type, url, filtro, contentType) {
      return $.ajax({
        type: type,
        url: url,
        data: filtro,
        contentType: contentType
      });
    }

  </script>
  <h1><%= title %></h1>
  <p>Welcome asdfasdfasdf <%= title %></p>
  <form action="/produto/post_produto" method="post" enctype="multipart/form-data">
    <input type="file" name="avatar" />
    <button type="submit" name="sobes" id="">Exec Requisição</button>
  </form>
</body>

</html>